services:
  - type: web
    name: portfolio
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn portfolio:app
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
